<h1>Listing raindrops</h1>

<table>
  <thead>
    <tr>
      <th>Water</th>
      <th>Shiny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raindrops.each do |raindrop| %>
      <tr>
        <td><%= raindrop.water %></td>
        <td><%= raindrop.shiny %></td>
        <td><%= link_to 'Show', raindrop %></td>
        <td><%= link_to 'Edit', edit_raindrop_path(raindrop) %></td>
        <td><%= link_to 'Destroy', raindrop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raindrop', new_raindrop_path %>
