<p id="notice"><%= notice %></p>

<p>
  <strong>Water:</strong>
  <%= @raindrop.water %>
</p>

<p>
  <strong>Shiny:</strong>
  <%= @raindrop.shiny %>
</p>

<%= link_to 'Edit', edit_raindrop_path(@raindrop) %> |
<%= link_to 'Back', raindrops_path %>
