<%= form_for(@chib) do |f| %>
  <% if @chib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chib.errors.count, "error") %> prohibited this chib from being saved:</h2>

      <ul>
      <% @chib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.number_field :level_id, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label :mochi %><br>
    <%= f.text_field :mochi, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color, :autocomplete => :off %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
