<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hex %><br>
    <%= f.text_field :hex, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label :chib_count %><br>
  </div>
  <div class="field">
    <%= f.label :found_by %><br>
    <%= f.text_field :found_by, :autocomplete => :off %>
  </div>
  <div class="field">
  	<%= f.label :chibs %><br>
  	<table>
	  <thead>
	    <tr>
	      <th>Level</th>
	      <th>User</th>
	      <th>Mochi</th>
	      <th>Color</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @chibs.each do |chib| %>
	      <tr>
	        <td><%= chib.level_id %></td>
	        <td><%= chib.user_id %></td>
	        <td><%= chib.mochi %></td>
	        <td><%= chib.color %></td>
	        <td><%= link_to 'Edit', edit_level_chib_path(f, chib) %></td>
	        <td><%= link_to 'End Chib', level_chib_path(f, chib), confirm: 'Are you sure?', method: :delete %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
  	<%= link_to 'New Chib!', new_level_chib_path(level_id: @level.id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
