<!-- ><h1>Listing levels</h1>

<table>
  <thead>
    <tr>
      <th>Red</th>
      <th>Blue</th>
      <th>Green</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.red %></td>
        <td><%= level.blue %></td>
        <td><%= level.green %></td>
        <td><%= link_to 'Show', level %></td>
        <td><%= link_to 'Edit', edit_level_path(level) %></td>
        <td><%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level', new_level_path %>  -->

<script type='text/javascript'>
	var two = new Two({
	    fullscreen: true,
	    autostart: true
	}).appendTo(document.body);
	var rect = two.makeRectangle(two.width/2, two.height/2, two.width, two.height);
	rect.fill = 'rgb(0,0,0)';
	rect.opacity = 1.0;
	rect.noStroke();
	var circle = two.makeCircle(72,100,50);
	circle.fill = '#00ffff';
	circle.stroke = '#00ffdd';
	circle.linewidth = 5;
	two.update();
</script>
