<p id="notice"><%= notice %></p>

<p>
  <strong>Hex:</strong>
  <%= @level.hex %>
</p>

<p>
  <strong>Chib Count:</strong>
  <%= @level.chib_count %>
</p>

<p>
  <strong>Found By:</strong>
  <%= @level.found_by %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
